@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --off-black: #080808;
  --off-white: #f8f8f8;
  --background-color: #C9B7C8;
  --expand-size: 0rem;
}

* {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}
/* Necessary for iphone 'safe' area */
html {
  background-color: var(--background-color);
}
html,body,#redwood-app {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

#redwood-app {
  display: flex;
  flex-direction: column;
}

/* Public Layouts */


h1.title {
  padding: 10px;
  margin: 0;
  font-size: 4rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: normal;
  color: #FFD6D6;
  text-shadow: 0 2px 2px rgb(0, 0, 0);
}


nav.public-layout {
  max-width: calc(550px * .95);
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
nav.public-layout a, nav.public-layout span {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  transition: text-shadow 100ms ease-in 0s;
  cursor: pointer;

}
nav.public-layout a:hover, nav.public-layout span:hover {
  text-shadow: 0 2px 2px rgb(0, 0, 0);
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 550px;
  align-self: center;
}

footer {
  flex-shrink: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer p {
  text-align: center;
  margin: 0;
  color: var(--off-black);
  margin-bottom: .3rem;

}
footer a {
  text-decoration: none;
  color: var(--off-white);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  transition: text-shadow 100ms ease-in 0s;
}
footer a:hover {
  text-shadow: 0 2px 2px rgb(0, 0, 0);
}
/* Suggestion Page */

.suggestion-container {
  width: 95%;
  min-height: 250px;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0,0,0,.5);
  background-color: #f8f8f8;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}

.suggestion-text-container {
  padding: 15px;
}

.suggestion-container h2 {
  text-align: center;
  font-size: 2rem;
}

.suggestion-container .character-counter {
  margin: 0;
  font-size: .7rem;
  text-align: right;
}
.suggestion-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suggestion-container textarea {
  display: block;
  padding: 5px;
  height: 10rem;
  border-color: rgba(0,0,0,.1);
  border-radius: 5px;
  resize: none;
}
.suggestion-container .button {
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: .8rem;
  color: var(--off-black);
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: all 100ms ease-in 0s;
}
.suggestion-container .width-90 {
  width: 90%
}
.suggestion-container .button:hover {
  box-shadow: 0 4px 2px rgba(0,0,0,.5);
}

/* Post Page */

.post-card {
  width: 95%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0,0,0,.5);
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  cursor: pointer;
}

div.post-card div.overlay {
  background-color: rgba(0,0,0,.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in 0s;
}
div.post-card div.overlay:hover {
  background-color: rgba(0,0,0,0);
  --expand-size: 1rem;
}

div.post-card div.overlay h2 {
  font-size: 3rem;
  color: #f8f8f8;
  text-decoration: underline;
  text-align: center;

}

div.post-card div.overlay div.expandable {
  width: var(--expand-size);
  height: var(--expand-size);
  transition: 200ms ease-in 0s;
}

/* About/Article Page */

.about-article-container {
  width: 95%;
  min-height: 250px;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0,0,0,.5);
  background-color: #f8f8f8;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  color: var(--off-black);
}
.about-article-text-container {
  padding: 15px;
}
.about-article-text-container a {
  text-decoration: none;
  color: #937291;


}
.about-article-text-container a:hover {
  text-decoration: underline;
}

.about-article-text-container a.part-of-page {
  font-size: .7rem;
  text-align: center;
  display: block;
}

.about-article-text-container h3 {
  text-indent: 1ch;
  text-align: left;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.about-article-text-container h2, .about-article-text-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.about-article-text-container p {
  text-indent: 2ch;
}

.about-article-text-container img {
  max-height: 20rem;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
}
